HOST=localhost
PORT=3000

# DATABASE_URL=isikan database url yang ada dirailway (jika deploy menggunakan railway)

PGUSER=dev
PGHOST=localhost
PGPASSWORD=password
PGDATABASE=postgres
PGPORT=5432

ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=